html,
body {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: 'Merriweather', serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  font-size: 18px;
}

h1 { font-size: 22px; }
h2 { font-size: 20px; }

a {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

pre {
  padding: 2rem;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.header {
  padding: 20px 0;
  position: relative;
  background: #f5f5f5;
  border-bottom: 1px solid #eaeaea;
}

.nav {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: 'Lato', sans-serif;
  text-align: right;
}

.nav-logo {
  float: left;
  margin-top: -11px;
}

.nav-logo img {
  display: block;
  max-height: 40px;
  width: auto;
  border-radius: 50%;
}

.nav-links {
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin: 0 0 0 15px;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links a {
  text-decoration: none;
  color: #111;
}

.nav-links a:hover {
  color: #000;
}

.front {
  border-bottom: 1px solid #eaeaea;
}

.front .word {
  font-weight: bold;
  font-size: 22px;
}

.front .part {
  font-style: italic;
  font-size: 14px;
  display: block;
}

.front .definition-index {
  font-weight: bold;
}

.content {
  max-width: 900px;
  margin: 30px auto 80px;
  padding: 0 15px;
  font-size: 16px;
  line-height: 1.7;
  color: #555;
}

.content .centered-image {
  text-align: center;
}

.content .centered {
  text-align: center;
}

.article-title {
  color: #222;
  margin: 0;
  line-height: 1.3;
}

.article-date {
  color: #ccc;
}

.article-duration {
  margin-top: 12px;
  float: right;
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  padding: 1px 5px;
  font-weight: bold;
  border-radius: 3px;
  background: #bbb;
  color: #fff
}

.article-content p {
  margin: 15px 0 25px;
}

.article-content a {
  text-decoration: none;
  color: inherit;
  border-bottom: 3px solid #CBF8DF;
  box-shadow: inset 0 -4px 0 #CBF8DF;
  background: transparent;
  transition: background 150ms ease;
}

.article-content img {
  width: 45%;
  display: inline;
}

.article-content a:hover,
.article-content a:focus {
  background: #CBF8DF;
}

.article-content hr {
  width: 150px;
  margin: 50px auto;
  height: 1px;
  overflow: hidden;
  border: none;
  background: #e5e5e5;
}

.highlight {
  border-radius: 3px;
  position: relative;
  margin: 40px 0;
  font-size: 14px;
}

.highlight pre {
  padding: 10px;
}

.archive {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.3em;
  color: #111;
}

.archive-title {
  font-size: 32px;
  margin-top: 60px;
}

.archive-item {
  margin: 4px 0;
  padding: 0;
}

.archive-item-date {
  color: #ccc;
  font-size: 14px;
  padding: 5px 0;
  margin-top: 5px;
  display: block;
}

.archive-item-link {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #222;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.archive-item-link:hover {
  border-bottom-color: #222;
}

.footer {
  padding: 25px 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ccc;
  font-size: 12px;
}

.footer-links li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.footer-links a {
  color: #888;
  text-decoration: none;
  transition: color 150ms ease;
  margin: 0 15px;
}

.footer-links a:hover,
.footer-links a:focus {
  color: #222;
}

.footer-links li::before {
  content: '/';
  position: relative;
  left: -2px;
}

.footer-links li:first-child::before {
  display: none;
}
.footer-links-kudos img {
  position: relative;
  top: 6px;
  margin-left: 2px;
}

@media (min-width: 600px) {
  .header {
    padding: 25px 0;
  }

  .nav-logo {
    margin-top: -13px;
  }

  .nav-logo img {
    max-height: 50px;
  }

  .nav-links {
    font-size: 18px;
  }

  .nav-links li {
    margin: 0 0 0 30px;
  }

  .content {
    font-size: 18px;
    line-height: 1.8;
    margin: 30px auto;
  }

  .highlight {
    font-size: 16px;
    margin: 40px -20px;
  }

  .archive {
    text-align: left;
  }
  .archive-title {
    font-size: 38px;
  }

  .article-duration {
    font-size: 12px;
  }
}

