<nav>
  <span class="home"><a href="<%= relative_url '/' %>">Matt Valentine-House</a></span>
  <ul>
    <li><a href="<%= relative_url '/About' %>">About</a></li>
    <li><a href="<%= relative_url '/Posts' %>">Posts</a></li>
    <li><a href="<%= relative_url '/Weeknotes' %>">Weeknotes</a></li>
  </ul>
</nav>
